.app {
  text-align: center;
}

.app-wrapper {
  background: #282c34 url('/bg.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .container {
    width: 80%;
    margin: 45px auto;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .app-logo {
    height: 40vmin;
  }

  .crawl-container {
    margin-bottom: 2em;
    @media (max-width: 768px) {
      padding: 15px;
    }
  }
}
