@mixin lightsaber($color) {
    background: mix($color, #fff, 10%);
    box-shadow: $color 0px 0px 0px 2px;

    &:hover {
        box-shadow: $color 0px 0px 20px 2px;
        text-shadow: $color 0px 0px 6px, $color 0px 0px 10px;
    }
}

.dropdown {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2em;

    .dropdownButton {
        border: 0;
        background: transparent;
        border-bottom: 2px solid #ffe300;
        outline: 0;
        display: block;
        text-align: left;
        font-size: 1.2em;
        cursor: pointer;
        color: #ffffff;
        text-decoration: none;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        opacity: 1;
        padding-bottom: 5px;
    }

    .icon {
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;

        border-top: 10px solid #dddddd;
    }

    .dropdown-menu {
        position: absolute;
        top: -1em;
        right: 0;
        left: 0;
        margin: 1em auto;
        padding: 1em 1.35em 1em;
        list-style: none;
        text-align: left;
        border-radius: 4px;
        background: #2D2D2D;
        transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
        transform: scale(0);
        transform-origin: right top;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

        .close {
            color: #888;
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 28px;
            cursor: pointer;
        }

        &.open {
            transform: scale(1);
        }

        //font-weight:bolder;
        li {
            @include lightsaber(#FF0);
            line-height: 1.25em;
            padding: 0px;
            padding-left: 0px;
            margin: 16px 0px;
            width: 0;
            border-radius: 0px 100px 100px 0px;
            transition: width 0.2s ease,
                padding 0.2s ease,
                color 0.2s ease,
                text-shadow 0.2s ease;

            &:hover {
                width: 100%;
                padding: 0px 16px 0px 0px;
                color: black;
            }

            a {
                display: block;
                text-decoration: none;
                color: #AFAFAF;
                padding-left: 16px;
                width: 300px;
                font-size: 18px;

            }

            &.green {
                @include lightsaber(#0F0);
            }

            &.red {
                @include lightsaber(#F00);
            }

            &.purple {
                @include lightsaber(#c0c);
            }

            &.yellow {
                @include lightsaber(#FF0);
            }
        }
    }
}